* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "Lato";
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
}

.box {
  padding: 32px;
  background-color: #fafafa;
  box-shadow: 0px 8px 32px rgba(0 0 0 / 0.16);
  border-radius: 16px;
  width: fit-content;
}

#app {
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header i {
  padding: 16px;
  border-radius: 50%;
  color: #666;
}
header i:hover {
  background-color: #ece0fd;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
main > div {
  width: 82px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #666;
  cursor: pointer;
  tramsition: all 300ms;
}

main > div:hover {
  background-color: #ece0fd;
  border-radius: 8px;
}

main > div.active {
  background-color: #6200ee;
  color: white;
  border-radius: 8px;
  position: relative;
}
main > div.active::after {
  content: "";
  width: 4px;
  height: 4px;

  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 7px;
}

/* create style appDays */

#appDay {
  display: none;
}
